<template name="home">
  <div class="nav-section">
                  <ul class="nav">
                      <li><a href="#home" class="scroll home">Home</a></li>
                      <li><a href="#about" class="scroll about">About</a></li>
                      <li><a href="#work" class="scroll work">Projekte</a></li>
                      <li><a href="#contact" class="scroll contact">Kontakt</a></li>
                  </ul>
              </div>
              <div class="panel"> <!--Panels for content -->
                  <div class="album"> <!-- Album panel -->
                      <span class="closeicon"><i class="icon-remove"></i></span>
                      <span class="closeicon"><i class="icon-remove"></i></span>
                      <div class="row">
                          <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                              <div class="well imagebg-4 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="well imagebg-5 fixed-height"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                              <div class="well imagebg-6 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                              <div class="well imagebg-7 fixed-height"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                              <div class="well imagebg-8 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="well imagebg-9 fixed-height"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="well imagebg-10 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                              <div class="well imagebg-11 fixed-height"></div>
                          </div>
                      </div>
                      <div class="row">
                          <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                              <div class="well imagebg-12 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="well imagebg-13 fixed-height"></div>
                          </div>
                      </div>
                  </div>
                  <div class="work"> <!-- Work panel -->
                      <span class="closeicon"><i class="icon-remove"></i></span>
                      <div class="row">
                          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                              <div class="well imagebg-3 fixed-height"></div>
                          </div>
                          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="well purple fixed-height">
                                  <h2>Project that we worked on and is cool</h2>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="well plum fluid-height overflow-show">
                                  <h1>Portfolio Item</h1>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed congue odio. Aliquam sed mi id massa faucibus dapibus. Suspendisse et mi felis. Nam ornare orci in tortor tempor porta. Fusce sed dapibus nisi, ut scelerisque ligula. Donec at leo est. Morbi condimentum fermentum tellus, ac mattis felis rutrum vitae.
                                  </p>
                                  <div class="outer-box-work">
                                      <p>Donec molestie, lacus a egestas feugiat, odio odio tincidunt enim, et consectetur tortor nisl eu arcu. Ut nec ultricies augue, sit amet ultricies mauris. In erat nisi, scelerisque in nisl et, pretium imperdiet arcu. Suspendisse potenti.</p>
                                  </div>
                                  <p class="big">In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor. Aenean bibendum a leo at elementum. Curabitur ut lectus at enim gravida mollis. Aliquam nisi mi, rutrum nec dolor at, ullamcorper ornare est. Fusce cursus consectetur mauris vel laoreet. Sed ligula tortor, gravida in nibh non, luctus semper orci. Aliquam sed pretium diam, non elementum purus. In purus erat, mollis a congue sit amet, elementum ut enim. Phasellus blandit sapien at orci dictum tempus. Nullam et lobortis orci.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="container-narrow">
                  <div class="menu">
                      <div class="nav-bar"></div>
                      <div class="nav-bar"></div>
                      <div class="nav-bar"></div>
                  </div>
                  <div class="row">
                  
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 

                      <div class="well logo-grey-blue logo-shadow logo-box">
                          <img class="img-responsive img-size" src="/images/Peyclon-Bilder/HintergrundLogo-transparent.png" alt="">
                      </div>

                    </div>
                  </div>

                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
                          <div class="well augmented-reality shadow fixed-height"> <!-- Fixed height for 300px on all devices, shadow for a shadow and orange for the color -->
                              <a href="http://www.peyclon.de" class="augmented-reality"><h1>Augmented Reality</h1></a>
                              <p class="big ar-color">Wir integrieren virtuelle Informationen in das Arbeitsumfeld des Anwenders.</p>
                          </div>
                      </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                          <div class="well no-padding fixed-height shadow click hidden-xs" id="blogtwo"> <!-- click used n clickable items -->
                              <div class="bp-post two">
                                  <div class="overlay"></div>
                                  <div class="heart"><i class="icon-heart"></i></div>
                                  <div class="star"><i class="icon-star"></i></div>
                                  <div class="title">
                                      <h2>Bild zu Augmented Reality einfügen</h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                          <div class="well no-padding shadow fixed-height">
                              <div class="flexslider" id="slider">
                                  <ul class="slides">
                                      <li>
                                          <img src="/images/Indiedes-Bilder/Indiedes-Slider-1.jpg" alt="" class="img-width" />
                                      </li>
                                      <li>
                                          <img src="/images/Indiedes-Bilder/Indiedes-Slider-2.jpg" alt="" class="img-width" />
                                      </li>
                                      <li>
                                          <img src="/images/Indiedes-Bilder/Indiedes-Slider-3.jpg" alt="" class="img-width" />
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs"> <!-- hidden-xs hides it on items under 767px, makes it easier to read -->
                          <div class="indiedes shadow well fixed-height">
                              <a href="http://www.indiedes.de" class="pull-right"><img src="/images/Indiedes-Bilder/Logo-Black-Final-Transparent2.gif" alt="" class="logo-size pull-right" /></a>
                              <p class="text-right">E<a class="logo-i">i</a>nzigartige Produkte von profess<a class="logo-i">i</a>onellen Kunsthandwerkern und Des<a class="logo-i">i</a>gnern.</p>
                          </div>
                      </div>
                  </div>
                  <div class="blog-post-item one"> <!-- Only use this form of content panel when blog its matching to is the last col in the row so that it matches up on devices under 767px -->
                      <div class="arrow-up left"></div>
                      <h1>Blog Post Title</h1>
                      <p>
                          In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor. Aenean bibendum a leo at elementum. Curabitur ut lectus at enim gravida mollis. Aliquam nisi mi, rutrum nec dolor at, ullamcorper ornare est. Fusce cursus consectetur mauris vel laoreet. Sed ligula tortor, gravida in nibh non, luctus semper orci. Aliquam sed pretium diam, non elementum purus. In purus erat, mollis a congue sit amet, elementum ut enim. Phasellus blandit sapien at orci dictum tempus. Nullam et lobortis orci.
                      </p>
                  </div>

                  <!--
                  <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="home"> --><!-- Overflow-show is used when .outer-box is used for example since it enables it to show outside the div -->

<!--
                          <div class="well sage overflow-show large">
                              <h1>Home</h1>
                              <div class="outer-box">
                                  <p>
                                      Maecenas sit amet nunc tellus. <span class="bold">We</span> integer volutpat condimentum ligula id luctus. Donec tincidunt primis cubilia <span class="bold">are</span> consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices <span class="bold">different</span> cubilia Curae; Morbi egestas urna lectus, eu ultrices velit cursus ac. Praesent in nisi sed felis tristique hendrerit.
                                  </p>
                              </div>
                              <p>
                                  Fusce cursus sapien congue, interdum eros quis, tincidunt arcu. Maecenas scelerisque tellus velit, non rutrum nunc volutpat facilisis. In lacus ante, vestibulum non pharetra ut, semper in orci.
                              </p>
                              <div class="outside"> --><!-- position changeable in css -->
<!--
                                  <h2 class="text-right">We think outside the box.</h2>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                          <div class="well fixed-height imagebg-1"> --><!-- imagebg-1 is useing css for the fullscreen background -->
<!--
                              <h1>We think and create</h1>
                          </div>
                          <div class="well person-square fixed-height"> 
                              <h1 class="text-right">Tyler Durden</h1>
                              <p class="text-right">Head Developer</p>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                          <div class="well-slider darksage">
                              <div id="content" class="flexslider">
                                  <ul class="slides darksage">
                                      <li>
                                          <div class="content-slider padding">
                                              <h2>We Design</h2>
                                              <p>In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor.</p>
                                          </div>
                                          <div class="image-slider">
                                              <img src="assets/img/edit.png" alt="" />
                                          </div>
                                      </li>
                                      <li>
                                          <div class="content-slider padding">
                                              <h2>We Create</h2>
                                              <p>In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor.</p>
                                          </div>
                                          <div class="image-slider">
                                              <img src="assets/img/cog.png" alt="" />
                                          </div>
                                      </li>
                                      <li>
                                          <div class="content-slider padding">
                                              <h2>We Make</h2>
                                              <p>In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor.</p>
                                          </div>
                                          <div class="image-slider">
                                              <img src="assets/img/cog2.png" alt="" />
                                          </div>
                                      </li>
                                      <li>
                                          <div class="content-slider padding">
                                              <h2>We Collaborate</h2>
                                              <p>In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor.</p>
                                          </div>
                                          <div class="image-slider">
                                              <img src="assets/img/people.png" alt="" />
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs"> --><!-- .imagebg-2 css used for full div image -->
<!--
                          <div class="blue imagebg-2 well fixed-height">
                              <h1>You are a card and you need to be dealt with.</h1>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <div class="well no-padding fixed-height click" id="album">
                              <div class="photo-album">
                                  <div class="album">
                                      <div class="title">View Album</div>
                                  </div>
                              </div>
                          </div>
                          <div class="well person-square2 fixed-height hidden-xs">
                              <h1 class="text-right">Stan Smith</h1>
                              <p class="text-right">Graphic Designer</p>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
                          <div class="tealblue well large overflow-show" id="about">
                              <h1>About</h1>
                              <div class="span3 pull-right padding border">
                                  <h2 class="text-center">Sharp One</h2>
                              </div>
                              <p>In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor. Aenean bibendum a leo at elementum. Curabitur ut lectus at enim gravida mollis. Aliquam nisi mi, rutrum nec dolor at, ullamcorper ornare est. Fusce cursus consectetur mauris vel laoreet. Sed ligula tortor, gravida in nibh non, luctus semper orci.</p>
                              <div class="outer-box">
                                  <p>Maecenas tellus <span class="bold">We</span> sit amet nunc. <span class="bold">are</span> Integer volutpat condimentum <span class="bold">great</span> ligula id luctus.                        </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 large hidden-xs">
                          <div class="well plum large overflow-show">
                              <a href="#">
                                  <div class="social-box"><i class="icon-twitter"></i></div>
                              </a>
                              <h1>Twitter</h1>
                              <div class="tweet">
                                  <p><a href="#">@wrapbootstrap</a> mauris nec ultricies est, non rhoncus lacus. Donec elementum nunc luctus neque auctor</p>
                                  <p><span>3 hours ago</span></p>
                              </div>
                              <div class="tweet">
                                  <p>Donec molestie, lacus a egestas feugiat, odio odio tincidunt enim, et consectetur tortor nisl eu arcu</p>
                                  <p><span>8 hours ago</span></p>
                              </div>
                              <div class="tweet">
                                  <p><a href="#">@wrapbootstrap</a>  Ut nec ultricies augue, sit amet ultricies mauris</p>
                                  <p><span>17 hours ago</span></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                          <div class="well purple">
                              <h1>News</h1>
                              <div class="article">
                                  <div class="row">
                                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                          <img class="img-responsive" src="assets/img/6.jpg" alt="">
                                      </div>
                                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                          <p>
                                              Cras elementum cursus neque, vitae feugiat justo ullamcorper quis. Vivamus gravida posuere lorem.                           
                                          </p>
                                          <p>07/03/13 <span class="pull-right">Stan Smith</span></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="well no-padding fixed-height click hidden-xs" id="blogtwo"> --><!-- click used n clickable items -->
<!--
                              <div class="bp-post two">
                                  <div class="overlay"></div>
                                  <div class="heart"><i class="icon-heart"></i></div>
                                  <div class="star"><i class="icon-star"></i></div>
                                  <div class="title">
                                      <h2>Blog Post with overlay</h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="blog-post-item two">
                      <div class="arrow-up right"></div>
                      <h1>Blog Post Title</h1>
                      <p>
                          In elementum interdum risus, nec vulputate erat rutrum at. Fusce posuere adipiscing tempor. Aenean bibendum a leo at elementum. Curabitur ut lectus at enim gravida mollis. Aliquam nisi mi, rutrum nec dolor at, ullamcorper ornare est. Fusce cursus consectetur mauris vel laoreet. Sed ligula tortor, gravida in nibh non, luctus semper orci. Aliquam sed pretium diam, non elementum purus. In purus erat, mollis a congue sit amet, elementum ut enim. Phasellus blandit sapien at orci dictum tempus. Nullam et lobortis orci.
                      </p>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large" id="work">
                          <div class="well sedgebrown overflow-show large">
                              <h1>Work</h1>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed congue odio. Aliquam sed mi id massa faucibus dapibus. Suspendisse et mi felis. Nam ornare orci in tortor tempor porta. Fusce sed dapibus nisi, ut scelerisque ligula. Donec at leo est. Morbi condimentum fermentum tellus, ac mattis felis rutrum vitae.
                              </p>
                              <div class="outer-box-work"> --><!-- changeable in css -->
<!--
                                  <p>
                                      Maecenas tellus <span class="bold">design</span> sit amet nunc. <span class="bold">is</span> Integer volutpat condimentum <span class="bold">key</span> ligula id luctus.                        
                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <div class="imagebg-3 well"> --><!-- using css for full div background -->
<!--                          
                              <h1>Make ideas become reality.</h1>
                          </div>
                          <div class="well ecru">
                              <p class="big"><i class="icon-quote-left"></i> Consectetur adipiscing elit. Sed ullamcorper ut lorem eu dapibus. Nullam et lobortis orci. <i class="icon-quote-right"></i></p>
                              <p class="big">James Doe</p>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio"> --><!-- using .click because its clickable #portfolio is a trigger all changable in the script.js file, no padding lets the portfolio-img be full div -->
<!--                      
                          <div class="well no-padding">
                              <div class="portfolio-img one"> --><!-- uses backstretch.js for full div effect, changable in script.js -->
<!--                             
                                  <div class="hover-effect effect-one">
                                      <p class="text-center">
                                          Portfolio Item #1
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio2">
                          <div class="well no-padding">
                              <div class="portfolio-img two">
                                  <div class="hover-effect effect-two">
                                      <p class="text-center">
                                          Portfolio Item #2
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 click" id="portfolio3">
                          <div class="well no-padding">
                              <div class="portfolio-img three">
                                  <div class="hover-effect effect-three">
                                      <p class="text-center">
                                          Portfolio Item #3
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio4">
                          <div class="well no-padding">
                              <div class="portfolio-img four">
                                  <div class="hover-effect effect-four">
                                      <p class="text-center">
                                          Portfolio Item #4
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio5">
                          <div class="well no-padding">
                              <div class="portfolio-img five">
                                  <div class="hover-effect effect-five">
                                      <p class="text-center">
                                          Portfolio Item #5
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio6">
                          <div class="well no-padding">
                              <div class="portfolio-img six">
                                  <div class="hover-effect effect-six">
                                      <p class="text-center">
                                          Portfolio Item #6
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio7">
                          <div class="well no-padding">
                              <div class="portfolio-img seven">
                                  <div class="hover-effect effect-seven">
                                      <p class="text-center">
                                          Portfolio Item #7
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio8">
                          <div class="well no-padding">
                              <div class="portfolio-img eight">
                                  <div class="hover-effect effect-eight">
                                      <p class="text-center">
                                          Portfolio Item #8
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs click" id="portfolio9">
                          <div class="well no-padding">
                              <div class="portfolio-img nine">
                                  <div class="hover-effect effect-nine">
                                      <p class="text-center">
                                          Portfolio Item #9
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
                  <div class="row">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <div class="midplum well hidden-xs">
                              <h2>Kontaktieren Sie uns!</h2>
                              <p class="kontakt">E-Mail: info@peyclon.de</p>
                              <p class="kontakt">Telefon: +49-8091-5694-11</p>
                              <p class="kontakt">Mobil: +49-173-3531196</p>
                              <p class="kontakt">Fax: +49-8091-5694-1</p>
                          </div>
                          <div class="well redplum">
                              <h2>Impressum</h2>
                              <p class="impressum">peyclon integration GmbH</p>
                              <p class="impressum">Geschäftsführer:</p>
                              <p class="impressum">Georg Klinker</p>
                              <p class="impressum">Moos 2</p>
                              <p class="impressum">D-85614 Kirchseeon</p>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 large">
                          <div class="blueberry well overflow-show large" id="contact">
                              <h1>Haben Sie Fragen?</h1>
                              <form id="tab" action="MAILTO:info@peyclon.de?subject={{subject}}&body={{body}}" method="post" enctype="text/plain">
                                  <div class="outer-box">
                                      <!--input type="text"  placeholder="Vorname" value="" class="input-block-level bordered-input">
                                      <input type="text" placeholder="Nachname" value="" class="input-block-level bordered-input">
                                      <input type="text" placeholder="E-Mail" value="" class="input-block-level bordered-input"-->
                                      <input type="text" id="subject" placeholder="Betreff" value="" class="input-block-level bordered-input">
                                      <textarea placeholder="Nachricht" id="body" rows="10" class="input-block-level bordered-input"></textarea>
                                      <button class="btn transparent btn-large pull-right sendButtonClicked">Abschicken</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!-- <div class="row"> 
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 fixed-height">
                          <div class="darkred well fixed-height">
                              <p class="copy">&copy; Sharp One 2013</p>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-xs">
                          <div class="well no-padding">
                              <div id="map"></div>
                          </div>
                      </div>
                  </div> -->
              </div>
</template>
